@page
@model TWebApplication1.Pages.ProductsModel
@{
	ViewData["Title"] = "Products";
}

<section class="bg-light contents ps-5 h-100">
		<h1 class="fw-bold">Products</h1>
		<h2>Check Our great products!</h2>
		<div class="d-flex flex-wrap gap-5 justify-content-center mt-5">
			<div class="productsCard">
			<img loading="lazy" src="~/images/img1.png" />
				<h1 class="">Product-X</h1>
				<p>Some text about product Some text about productSome Some text about product text about product</p>
				<span class="text-danger fw-bolder">Price</span>
			<button class="btn-primary w-100 rounded-3"><i class="bi bi-cart-plus"></i> Add</button>
			</div>
			<div class="productsCard">
			<img loading="lazy" src="~/images/img1.png" />
				<h1 class="">Product-X</h1>
				<p>Some text about product Some text about productSome Some text about product text about product</p>
				<span>Price</span>
				<button class="btn-primary w-100 rounded-3">Add</button>
			</div>
			<div class="productsCard">
			<img loading="lazy" src="~/images/img1.png" />
				<h1 class="">Product-X</h1>
				<p>Some text about product Some text about productSome Some text about product text about product</p>
				<span>Price</span>
				<button class="btn-primary w-100 rounded-3">Add</button>
			</div>
			<div class="productsCard">
			<img loading="lazy" src="~/images/img1.png" />
				<h1 class="">Product-X</h1>
				<p>Some text about product Some text about productSome Some text about product text about product</p>
				<span>Price</span>
				<button class="btn-primary w-100 rounded-3">Add</button>
			</div>
			<div class="productsCard">
			<img loading="lazy" src="~/images/img1.png" />
				<h1 class="">Product-X</h1>
				<p>Some text about product Some text about productSome Some text about product text about product</p>
				<span>Price</span>
				<button class="btn-primary w-100 rounded-3">Add</button>
			</div>
		<div class="productsCard">
			<img loading="lazy" src="~/images/img1.png" />
			<h1 class="">Product-X</h1>
			<p>Some text about product Some text about productSome Some text about product text about product</p>
			<span>Price</span>
			<button class="btn-primary w-100 rounded-3">Add</button>
		</div>
		<div class="productsCard">
			<img loading="lazy" src="~/images/img1.png" />
			<h1 class="">Product-X</h1>
			<p>Some text about product Some text about productSome Some text about product text about product</p>
			<span>Price</span>
			<button class="btn-primary w-100 rounded-3">Add</button>
		</div>
		</div>
</section>